@import './Variables';

button{
    cursor: pointer;
    transition: transform 0.2s linear;

    &:hover{
        transform: scale(1.03);
    }
    &:disabled{
        cursor: not-allowed;
    }
}

.swal2-container .Alert{

    background-color: #f5f5f5 ;
    border: 5px solid;
    border-image: $dark-gradient 1;
    outline: none;

    .swal2-icon{

        margin-top: 15px;
    }
    
    .confirmButton{

        background-color: $pink;
    }
    .denyButton{
        background-color: transparent;
        outline: 2px solid $pink;
        color: $pink;
    }
    .closeButton{

        background-color: transparent;
        color: black;
        font-size: 25px;

    }
}