@import '../Variables';

.container{

    padding: 0;
    width: fit-content;
    height: fit-content;
    margin: 2vw;

    button{
    
        position: relative;
        top: 13px;
        left: 13vw;
        width: 30px;
        height: 30px;
        border: none;
        background-color: $orange;
        color: #fff;
        border-radius: 10px;
        visibility: hidden;
        // transition: visibility 0.5s linear;
        z-index: 10;

    }

    &:hover button{
        visibility: visible;
    }

    .card{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        border: 2px solid $purple;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); 
        min-height: fit-content;
        min-width: fit-content;
        width: 10vw;
        height: 10vw;
        padding: 2vw;
        transition: all 0.2s linear;

        &.dark{
            background-color: $dark-glass;
        }

        &.light{
            background-color: $light-glass;
        }

        @media screen and (max-width: $phone) {
            
            width: 40vw;
            height: 40vw;
            padding: 0;
        }
    
        img{
    
            width: 3.5vw;

            @media screen and (max-width: $phone) {
            
                width: 12vw;
            }
        }
    
        h3{
            text-align: center;
            color: $purple;
            @media screen and (max-width: $phone) {
            
                font-size: 4.5vw;
            }
        }
    
        &:hover{
    
            transform: scale(1.05);
        }
        
    }
    
    .link{
    
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        color: $purple;
        font-size: 1.5vw;
    }


}