
@import '../Variables';

.nav {

    width: 100vw;
    height: 8vh;

    display: flex;
    justify-content: space-between;
    justify-content: flex-end ;
    align-items: center;

    background-color: $light-blue;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;   


    .logo{
    
        height: 90%;
        margin: 0.5vh 0;
        position: absolute;
        left: 0;
        top: 0;


        @media screen and (max-width: $mid-screen){

            height: 60%;
            margin: 1.5vh 0;
            
        }
    
    }

    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        li {

            display: inline;
            margin: 0 5vw;
            padding: 0.5vh 0;
            font-size: 1.8vw;
            text-decoration: none;
            text-align: center;
            color: white;
            transition: 0.5s linear;
    
            img{
                width: 40px;
            }
    
            @media screen and (max-width: $mid-screen){
    
                font-size: 3vw;
                
            }
            
        }

    }

}


